body{
    background-image: url("https://spicesncurry.com/image/108413-full_66-studio-ghibli-wallpapers-on-wallpaperplay.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;   
}
.texto h1{
    font-family: critter;
    font-size: 60px;
    color: red;
    text-align: center;
}
#menu{
    padding-top: 2px;
    padding-left: 110px;
}
nav{
    opacity: 0.9;
}
.menuCSS ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.menuCSS a{
    display: block;
    padding: 1.5em;
    background-color: dodgerblue;
    text-decoration: none;
    color: yellow;
    width: 170.5px;
}
.menuCSS a:hover{
    background-color: red;
    color: gold;
}
.menuCSS ul li ul{
    display: none;
}
.menuCSS ul li a:hover + ul, .menuCSS ul li ul:hover{
    display: block;
}
.cuerpo{
    padding-top: 20px;
}
.cuerpo img{
    width: 1094px;
}
.cuerpo b{
  color: white;  
}

.peliculas b{
    font-size: 40px;
    color: green;
}
#film1{
    width: 270px;
    height: 420px;
}
